.languageFlag {
  display: inline-block;
  margin: 1px 3px;
  height: 20px;
}

.languageFlagCurrent {
  opacity: 1;
  pointer-events: none;
  cursor: none;
}

.languageFlagNotCurrent {
  opacity: 0.5;
}

.languageFlagLoading {
  opacity: 0.1;
}
